JWT_SECRET_KEY: my_secret
MAILER_HOST: example.com
MAILER_SMTP_ADDRESS: smtp.gmail.com
MAILER_SMTP_PORT: 587
MAILER_SMTP_USERNAME: gmail_username
MAILER_SMTP_PASSWORD: gmail_password
MAILER_SMTP_AUTHENTICATION: plain
MAILER_SMTP_STARTTLS: true